.overlay {
  position: fixed;
  z-index: 999;
  background-color: var(--overlay);
  animation: fade var(--trns-fast);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  position: fixed;
  background: rgb(255 255 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  overflow: hidden;
  height: 60vh;
  /* aspect-ratio: 3 / 4; */
  border: 1px solid #111111;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fade var(--trns-slow);
}

.footer {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 6px 10px;
  border-top: 1px solid #111111;
  font-size: 14px;
}

.footerRow {
  display: flex;
  align-items: center;
  gap: 4px;
}

.description {
  font-size: 16px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 60vw;
    height: 80vh;
  }
  .description {
    font-size: 24px;
  }
  .footer {
    gap: 8px;
    padding: 10px;
    font-size: 16px;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
